<!DOCTYPE html>
<html >
 <head>
	 <title>Profile</title>
	 <meta name= "description" content= "News.">
<%- include("includes/libraries_tags.html") %>
<style >
  .state{
    display: inline-block;
    vertical-align: middle;
    width: 30px; 
    height: 30px; 
    border-radius:5px
  }
</style>
 </head>

	 <body onscroll= "scroll()">	 
	<main>
<%- include("includes/header.html") %>
	
	
		  
	  <!-- Advert -->
	  
<div class="container-md">
	  
<ul class="text-muted d-flex flex-wrap justify-content-around ul-clear my-5">
	    <li> 
	    <div class="state border alert-warning"></div> Pending
	    </li>
	      <li> 
	    <div class="state border bg-white"></div> Approved
	    </li>
	    <li> 
	    <div class="state border bg-danger"></div> Rejected
	    </li>
	  </ul>

	  
		 
<section class= "articles-section px-1">
    
<!-- Search article -->
<% if(article.length === 0){ %>
<center class="text-muted">(No article found)</center>
<%}%>

<% article.forEach(art=>{  %>
<a href= "/article/?art_id=<%=art._id%>" class="btn btn-block p-0 art-btn <%=art.state%>" style="box-shadow: none">
<ul class="ul-clear article-cont shadow-sm overflow-hidden <%=(art.state==="pending")?"border border-warning":""%>  <%=(art.state==="rejected")?"border border-danger":""%>">
<li  class="article-img-cont">
  <img src="/article/image/thumb/?icon=1&art_id=<%=art._id%>" alt="image thumbnail"/>
</li>
<li  class="article-title-cont pl-1 text-dark">
	<h5 class="align-items-center">
<%=art.title%>
  </h5>
	<div class="small text-mylightmain pb-1 <%=(art.state==="pending")?"alert-warning":""%>  <%=(art.state==="rejected")?"bg-danger":""%>">
	<b class="fa fa-history"></b> 
	<%= moment(art.timestamp).tz(ipLoc.time_zone).fromNow()%>&emsp;
	  <b  class="fa fa-eye"></b> <%=art.views.length%>&emsp;
  <b class="fa fa-user"></b> <%=art.owner&&art.owner.username%>&emsp;
	(<%=art.category%>)
 </div>
	 </li>
	</ul>
</a>
<% }) %>
</section>



<div  class="clearfix">

	<ul  class="pagination  float-right my-2">
	<li  class="page-item active">
	<a  class="page-link" href= "#">1</a>
	</li>
	<li  class="page-item">
	<a  class="page-link" href= "#">2</a>
	</li>
	<li  class="page-item">
	<a  class="page-link" href= "#">3</a>
	</li>
	<li  class="page-item">
	<a  class="page-link" href= "#">4</a>
	</li>
	<li  class="page-item">
	<a  class="page-link" href= "#">5</a>
	</li>
	<li  class="page-item">
	<a  class="page-link">...</a>
	</li>
	<li  class="page-item">
	<a  class="page-link" href= "#">100</a>
	</li>
</ul>

	</div>
	
	
	</div>
	
	
	<!-- advert -->

	
	
	
<%- include("includes/fixed_btn.html") %>

<%- include("includes/footer.html") %>
	
</main>


 <script>
 function scroll(){
 $("#go-up-btn").css("display", "none")
if(pageYOffset < 400){
$("#go-up-btn").css("display", "none")
}
else{
$("#go-up-btn").css("display", "flex")
  }
}



$(function(){


	})
	
	

	</script>
	</body>
 </html>
 